.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-weight: bold;
  font-size: 20px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.navbar-list li {
}

.navbar-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #4caf50;
}
